<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container text-center text-md-left">
        <hr />
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top 5 movies</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none" />

            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
                    Top 5 actresses
                </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none" />

            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top 5 actors</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none" />

           
        </div>
    </div>

   

    <div class="footer-copyright text-center py-3">
        © 2021 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> AgaPoli</a>
    </div>
</footer>

