// @import '../../../variables';

mat-toolbar {
  width: 80%;
  display: grid;

  background-color: #002f39;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
  grid-template-areas: "hamburger  account_btn menu_btn logo search search search search";
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-column-gap: 1em;
}
#logo {
  max-height: 50px;
  grid-area: logo;
  border-radius: 1px;
  padding: 2px;
  justify-self: center;
}
