<p>aaaaa</p>

<!-- <mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>MOVIES</button>
    <button mat-menu-item>TVSHOWS</button>
    <button mat-menu-item>SERIES</button>
  </mat-menu>
  <img [routerLink]="['/']" id="logo" src="assets/images/logo.jpg" alt="Logo" />
  <span id="btn_group" hidden>
    <button id="new_movie1" class="nav_btn" mat-button >
        NEW
    </button>
    <button id="new_movie2" class="nav_btn" mat-button >
        POPULAR
    </button>
    <button id="new_movie3" class="nav_btn" mat-button >
        WATCHLIST
    </button>
</span>

</mat-toolbar> -->
